body {
  background-image: url('https://images.unsplash.com/photo-1529973625058-a665431328fb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad4c55f32c98bedfa9f8fc53b54f205e&auto=format&fit=crop&w=2400&q=80');
  background-repeat: none;
  background-size: 100;
}